* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    width: 100%;    
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    * { 
        font-size: 14px;
}
}

/* Style the navigation container */
#nav {
    background: linear-gradient(180deg, rgb(51, 83, 87, 0.8) 0%, rgb(62, 119, 122, 0.8)100%); /* Background color for the navigation bar */
    color: #fff; /* Text color */
    padding: 0.1rem; /* Add some padding around the navigation bar */
    display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: space-between; /* Space between logo and menu items */
    position: fixed; /* Fix the navigation bar position */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Make it 100% of the viewport width */
    z-index: 100; /* Ensure it's above other content */
    border-radius: 0 0 2rem 2rem ;
}

/* Style the logo */
#nav a {
    text-decoration: none; /* Remove underlines from the logo link */
}

/* Style the menu list */
#nav ul {
    list-style: none; /* Remove default list bullet points */
    display: flex; /* Arrange menu items horizontally */
    margin-right: 2%; /* Remove default margin for the list */
    padding: 0; /* Remove default padding for the list */
    align-items: center;
}

/* Style individual menu items */
#nav li {
    margin-right: 30px; /* Add some spacing between menu items */
}

/* Style menu item links */
#nav a {
    color: #fff; /* Text color for menu links */
    text-decoration: none; /* Remove underlines from menu links */
    font-weight: bold; /* Make the text bold */
    white-space: nowrap;
}

/* Style menu item links on hover */
#nav a:hover {
    text-decoration: underline; /* Underline the link on hover */
}

/* Limit the maximum width of the logo image */
#nav a img {
    max-width: 60px; /* Adjust the value to the desired width */
    height: auto; /* Maintain the aspect ratio when resizing */
    margin-left: 20px;
    border-radius: 50%;
}

#nav .menu-icon {
    display: none;
}

@media (max-width: 768px) {
   
    #nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 0 2rem ;
    }

    #nav .menu-icon {
        display: block;
        max-width: 15%;
        height: auto;
        font-size: 35px; /* Passen Sie die Schriftgröße nach Bedarf an */
        cursor: pointer; /* Zeigerzeiger für das Symbol */
        margin-left: 77%;
        margin: auto;
        padding-left: 1rem;
    }

    /* Fügen Sie hier den Stil für das sichtbare Menü hinzu */
    #nav ul {
        display: none; /* Das Menü standardmäßig ausblenden */
        background: linear-gradient(180deg, rgb(62, 119, 122, 0.8), rgb(51, 83, 87, 0.8)100%); /* Hintergrundfarbe des Menüs */
        border-radius: 0 0 1rem 1rem ;
        position: absolute;
        top: 4.7rem; /* Position des Menüs relativ zur Kopfzeile */
        right: 0;
        width: 22%; /* Vollständige Bildschirmbreite */
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #nav ul li {
        margin: 0;
    }

    #nav ul li a {
        display: block;
        padding: 10px 0;
        color: #fff;
        text-decoration: none;;
    }

    /* Stil für Menülinks bei Hover */
    #nav ul li a:hover {
        background-color: #335357;
        text-decoration: none;
    }
}

/*-----------------------------------------------*/
#home {
    display: flex; /* Use flexbox to create a horizontal layout */
    align-items: center; /* Center-align the content vertically within the section */
    justify-content: start;
    padding: 20px; /* Add some padding around the content */
    background-color: rgb(164, 202, 218, 0.1); /* Set a background color */
    margin-top: 5vh;
    width: 100%;
    height: 100vh;
}

#home img {
    width: 25vw; /* Set the image width */
    height: auto; /* Set the image height */
    border-radius: 50%; /* Make the image round by setting border-radius to 50% */
    margin-right: 2vw;
    margin-left: 10vw;
}

.homeText {
    width: 30vw;
}

.homeText p {
    width: 85%;
    color: #1b2e31;
}

h1 {
    font-size: 3rem; /* Set the font size for the heading */
    margin-top: 3vh; /* Add some top margin to the heading */
}

.name {
    text-decoration: underline;
    text-decoration-color: #62aead;
    font-size: 3rem;
}


  
@media (max-width: 768px) {
h1 {
    font-size: 3rem; /* Set the font size for the heading */
    margin-top: 3vh; /* Add some top margin to the heading */
}

.homeText {
    width: 50vw;
    z-index: 2;
}

.homeText p {
    width: 80%;
    color: #1b2e31;
}

#home img {
    width: 40vw; /* Set the image width */
    height: auto; /* Set the image height */
    border-radius: 50%; /* Make the image round by setting border-radius to 50% */
    margin-right: 2vw;
    margin-left: 0;
}

}

/*-----------------------------------------------*/

#my-skills {
    padding: 20px; /* Add some padding around the content */
    text-align: center; /* Center-align the content within the section */
    display: flex;
    align-items: center;
    height: 100vh;
}

.my-skills-left {
    margin: 0 0.5vw; /* Add some margin for spacing */
}

h2 {
    font-size: 1.5rem; /* Set the font size for the heading */

}

.my-skills-right {
    margin: 10vw; /* Add margin for spacing around the icons */
    display: flex;
}

.icon-row p {
    margin: 0px 10px;
    font-size: 18px;
}

#my-skills .fa-brands,
.fa-solid {
    font-size: 55px; /* Set the font size for the icons */
    margin: 20px 10px 5px 10px; /* Add margin around the icons for spacing */
}

@media (max-width: 768px) {
.my-skills-right {
    margin: 10vw; /* Add margin for spacing around the icons */
    display: flex;
}

.icon-row p {
    margin: 0px 10px;
    font-size: 14px;
}

#my-skills .fa-brands,
.fa-solid {
    font-size: 40px; /* Set the font size for the icons */
    margin: 20px 10px 5px 10px; /* Add margin around the icons for spacing */
}
}
/*-----------------------------------------------*/
#about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    background-color: rgba(164, 202, 218, 0.1);
    padding: 5%;
    text-align: center;
}

  
  #about-me .about {
    text-align: left;
    width: 80%;
  }
  
  #about-me h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    margin: 0;
  }
  
  #about-me img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-self: center;
  }
  
  @media (max-width: 768px) {
    #about-me {
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
    }

    #about-me .about {
        text-align: left;
        width: 80%;
      }
  
    #about-me img {
      max-width: 80%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      justify-self: center;
    }
  }
  
/*-----------------------------------------------*/

#portfolio {
    height: auto;
    margin-top: 4rem;
}

#portfolio h2 {
    grid-column: 1 / -1; /* Span all columns */
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px 0 40px 0;
}

#grid-container {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 100px;
}

#grid-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {

}
  

/*-----------------------------------------------*/
#contact {
    background-color: rgb(164, 202, 218, 0.1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
}

.contact-left {
    margin-right: 100px;
}

label {
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

button {
    background-color: #376467;
    color: white;
    height: 50px;
    border: none;
    font-size: 20px;
}

/*-----------------------------------------------*/

/* Style for the footer section */
footer {
    background: linear-gradient(180deg, rgb(51, 83, 87, 0.8) 0%, rgb(62, 119, 122, 0.8)100%); /* Background color for the footer */
    border-radius: 2rem 2rem 0 0;
    color: #fff; /* Text color for the footer */
    padding: 20px; /* Add padding around the content */
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: space-between; /* Space elements evenly within the footer */
}

/* Style for the left footer section */
#footer-left {
    display: flex; /* Use flexbox to arrange elements horizontally */
    flex-direction: column;
    align-items: left; /* Center elements vertically within the section */
    margin-left: 5%;
    margin-right: 50%;
    width: 20%;
}

#footer-left img {
    width: 70px; /* Set the image width */
    height: 70px; /* Set the image height */
    border-radius: 50%; /* Make the image round by setting border-radius to 50% */
    margin-right: 10px; /* Add margin to the right of the image */
    margin-top: 20px;
}

.logos {
    display: flex; /* Use flexbox to arrange elements horizontally */
    align-items: center; /* Center elements vertically within the section */
    flex-direction: column; /* Stack logos vertically */
    margin-left: 6px;
    width: 5%;
}

.logos i {
    font-size: 40px; /* Set the font size for the icons */
    margin: 10px; /* Add margin between icons and your main logo */
    color: white;
}

/* Style for the right footer section */
#footer-right {
    display: flex; /* Use flexbox to arrange elements horizontally */
    align-items: center; /* Center elements vertically within the section */
    justify-content: center; /* Center the content horizontally */
    width: 20%;
    margin-right: 5%;
}

#footer-right ul {
    list-style: none; /* Remove the bullet points from the list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox to arrange list items horizontally */
    flex-direction: column; /* Stack list items vertically */
}

#footer-right li {
    margin-bottom: 10px; /* Add margin between list items in a vertical column layout */
}

#footer-right a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Set link text color */
}

#footer-right a:hover {
    text-decoration: underline; /* Add underline to links on hover */
}
