* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    width: 100%;    
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    color: #1b2e31;
}

@media (max-width: 768px) {
    * { 
        font-size: 14px;
}
    p {
        font-size: 1.5rem;
    }

}

@media (max-width: 480px) {
    * { 
        font-size: 10px;
}

    p {
        font-size: 1.5rem;
    }

    .button-1 a {
        font-size: 1.5rem;
    }

}
/* Style the navigation container */
#nav {
    background: linear-gradient(180deg, rgb(51, 83, 87, 0.8) 0%, rgb(62, 119, 122, 0.8)100%); 
    color: #fff; 
    padding: 0.1rem; 
    display: flex; 
    justify-content: space-between; 
    position: fixed; 
    align-items: center;
    top: 0; 
    width: 100%; 
    z-index: 100; 
    border-radius: 0 0 2rem 2rem ;
}

/* Style the menu list */
#nav ul {
    list-style: none; 
    display: flex; 
    margin-right: 5%; 
    padding: 0; 
    align-items: center;
    text-align: end;
}

#nav li:not(:last-child) {
    margin-right: 0;
}

a {
    color: #fff; 
    text-decoration: none; 
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

ul#menu {
    justify-content: end;
    text-align: center;
}

li#menu {
    width: 10%;
}

#menu a {
    position: relative; 
    padding: 1rem;
    transition: color 0.4s ease;
    letter-spacing: 1px;
}

#menu a:hover {
    color: #fff;
    font-weight: bold;
}

#menu a::after {
    content: ''; 
    display: block;
    border-bottom: 25px solid transparent; 
    position: absolute;
    bottom: -0.7rem; 
    left: 0;
    width: 100%;
    transition: color 0.4s ease;
}

#menu a:hover::after {
    border-bottom: 4px solid;
    color: #62aead;
}

a.myname {
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Wallpoet', sans-serif;
    padding: 1rem 1.5rem;
}

#nav .menu-icon {
    display: none;
}

@media (max-width: 768px) {
   
    #nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 0 2rem ;
    }

    #nav .menu-icon {
        display: block;
        max-width: 15%;
        height: auto;
        font-size: 2rem; 
        cursor: pointer; 
        margin-left: 77%;
        margin: auto;
        padding-left: 1rem;
    }

    #nav ul {
        display: none; 
        background: linear-gradient(180deg, rgb(62, 119, 122, 0.8), rgb(51, 83, 87, 0.8)100%); 
        border-radius: 0 0 1rem 1rem ;
        position: absolute;
        top: 4.2rem; 
        right: 0;
        width: 22%; 
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #nav ul li {
        margin: 0;
    }

    #nav ul li a {
        display: block;
        padding: 10px 0;
        color: #fff;
        text-decoration: none;;
    }

    #menu a::after { 
        display: none;
    }

    #menu a:hover {
        color: #fff;
        font-weight: bold;
    }

    #nav ul li a:hover {
        background-color: #62aead;
        text-decoration: none;
    }
}

@media (max-width: 480px) {

    #nav .menu-icon {
        font-size: 4rem; 
        margin: 1rem;
    }

    #nav ul {
        top: 6.1rem;
    }
}
/*-----------------------------------------------*/
#home {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 20px; 
    background-color: rgb(164, 202, 218, 0.1); 
    margin-top: 5vh;
    width: 100%;
    height: 100vh;
}

#home img {
    width: 22vw; 
    height: auto; 
    border-radius: 10%;
    margin-left: 5%;
}

.homeText {
    width: 40vw;
    z-index: 2;
}

.homeText p {
    width: 75%;
    color: #1b2e31;
}

.button-1 {
    margin-bottom: 5%;
    margin-top: 5%;
    width: 35%;
    border-radius: 1rem;
    cursor: pointer;
}

.button-1:hover {
    background-color: #62aead;
    transition: 100ms ease-in;
}

h1 {
    font-size: 3rem; 
    color: #333;
}

.name {
    text-decoration: underline;
    text-decoration-color: #62aead;
    font-size: 3rem;
}

  
@media (max-width: 900px) {
h1 {
    font-size: 3rem; 
}

.homeText {
    width: 50vw;
    z-index: 2;
}

.name {
    text-decoration: underline;
    text-decoration-color: #62aead;
    font-size: 3rem;
}

.homeText p {
    width: 80%;
    color: #1b2e31;
}

#home img {
    width: 35vw; 
    height: auto; 
    margin-right: 2vw;
    margin-left: 0;
}

}

@media (max-width: 640px) {
    #home {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: auto; 
        background-color: rgb(164, 202, 218, 0.1); 
        margin-top: 5vh;
        width: 100%;
        height: auto;
        text-align: center;
    }

    #home img {
        width: 50%; 
        height: auto; 
        border-radius: 10%;
        margin: 2rem;
    }
    
    .homeText {
        width: 80%;
        z-index: 2;
    }
    
    .homeText p {
        width: auto;
        color: #1b2e31;
    }
}
/*-----------------------------------------------*/

#my-skills {
    padding: 20px; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 2s, transform 1s;
}

#my-skills.animated {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 2s, transform 1s;
}

.my-skills-left {
    margin: 0 0.5vw; 
}

h2 {
    font-size: 2rem; 

}

.my-skills-right {
    margin: 10vw; 
    display: flex;
}

.icon-row p {
    margin: 0px 10px;
    font-size: 18px;
    color: #1b2e31;
}

#my-skills .fa-brands,
.fa-solid {
    font-size: 55px; 
    margin: 20px 10px 5px 10px; 
}

@media (max-width: 900px) {
.my-skills-right {
    margin: 10vw; 
    display: flex;
}

.icon-row p {
    margin: 0px 10px;
    font-size: 14px;
}

#my-skills .fa-brands,
.fa-solid {
    font-size: 40px; 
    margin: 20px 10px 5px 10px; 
}
}


@media (max-width: 640px) {
    #my-skills {
        padding: 20px; 
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    h2 {
        text-align: center;
    }
}
/*-----------------------------------------------*/
#about-me {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(164, 202, 218, 0.1);
    padding: 5%;
    text-align: center;
    height: 100vh;
}
  
  #about-me .about {
    text-align: left;
    width: 40%;
    margin-right: 10%;
  }
  
  #about-me h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    margin: 0;
  }
  
  #about-me img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-self: center;
  }
  
@media (max-width: 900px) {
    #about-me {
      align-items: center;
      justify-items: center;
      justify-content: center;
    }

    #about-me .about {
        text-align: left;
        width: 50%;
      }
  
    #about-me img {
      max-width: 50%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      justify-self: center;
    }
  }

@media (max-width: 640px) {
  #about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgba(164, 202, 218, 0.1);
    padding: 5%;
    text-align: center;
}

#about-me .about {
    text-align: center;
    width: 80%;
    margin: 0;
  }

  #about-me img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-self: center;
  }
}
/*-----------------------------------------------*/

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 5rem;
    margin: 1% 0 15% 0;
}

#portfolio h1 {
    grid-column: 1 / -1; /* Span all columns */
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 1rem 0 0 0;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #62aead;
}

#grid-container .language {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 2rem;
    width: 70%;
    color: #1b2e31;

}

#grid-container {
    padding: 0 4rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 100px;
}

#grid-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#grid-container a {
    width: 95%;
}

#grid-container .third-project {
    display: none;
}

@media (max-width: 900px) {
    #portfolio {
        height: auto;
        padding: 1rem;
    }

    #grid-container img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #grid-container {
        padding: 3rem 1rem;
    }
}

@media (max-width: 640px) {
    #portfolio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
    }

    #grid-container {
        padding: 3rem 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }

    #grid-container img {
        max-width: 80%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}
  

/*-----------------------------------------------*/
#contact {
    background-color: rgb(164, 202, 218, 0.1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
}

.contact-left {
    margin-right: 100px;
    width: 30%;
}

.contact-right {
    width: 50%;
}

label {
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

textarea {
    resize: none;
}

button {
    background-color: #376467;
    color: white;
    font-weight: 400;
    height: 50px;
    border: none;
    font-size: 1.15rem;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #62aead;
    transition: 0.2s ease-in;
    font-weight: bold;
}

@media (max-width: 640px) {
    #contact {
        background-color: rgb(164, 202, 218, 0.1);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
    }

    .contact-left {
        margin: 0;
        text-align: center;
        width: auto;
        margin-bottom: 5%;
    }

    .contact-right {
        width: auto;
    }

    label {
        display: block;
        margin-top: auto;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
}

/*-----------------------------------------------*/

/* Style for the footer section */
footer {
    background: linear-gradient(180deg, rgb(51, 83, 87, 0.8) 0%, rgb(62, 119, 122, 0.8)100%); 
    border-radius: 2rem 2rem 0 0;
    color: #fff; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between;
}

/* Style for the left footer section */
#footer-left {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-items: center;
    width: 50%;
    padding-left: 5%;
}

.logos i {
    font-size: 40px;
    margin: 0.75rem; 
    padding-left: 0;
    color: white;
}

a.myname2 {
    grid-column: span 2;
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Wallpoet', sans-serif;
    padding: 0;
    width: 5%;
}

a.myname2:hover {
    text-decoration: underline; 
}

a.logos {
    width: 5%;
}

#footer-right {
    display: flex; 
    align-items: center; 
    justify-content: end; 
    width: 50%;
    text-align: start;
    padding-right: 30%;
}

#footer-right ul {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    list-style: none; 
    margin: 0; 
    padding: 0; 
    border-left: 1px solid white;
    width: 50%;
}

#footer-right li {
    margin-bottom: auto;
    padding: 1rem; 
}

#footer-right a {
    text-decoration: none; 
    color: #fff; 
}

#footer-right a:hover {
    text-decoration: underline; 
}

#footer-right .legacylink {
    text-decoration: underline;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: #333;
    max-height: 90%;
    overflow-y: auto; /* Scrollbar bei Bedarf */
    width: 70%;
}

#popup button {
    width: 25%;
    margin-left: 75%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

@media (max-width: 640px) {
    #footer-left {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-items: center;
        width: 50%;
        padding-left: 0%;
        margin-right: 10%;
    }

    a.myname2 {
        grid-column: span 2;
        font-size: 2rem;
        font-weight: 100;
        font-family: 'Wallpoet', sans-serif;
        padding: 0;
        width: 80%;
    }

    a.logos {
        width: 50%;
    }

    #footer-right ul {
        display: flex;
        flex-direction: column;
        list-style: none; 
        margin: 0; 
        padding: 0; 
        border-left: 1px solid white;
        width: 50%;
    }
}